flows.json
[{"id":"a8412bb2.c64bd8","type":"tab","label":"Relay Control","disabled":false,"info":""},{"id":"f6614174.80fd4","type":"mqtt out","z":"a8412bb2.c64bd8","name":"","topic":"3325326/shift_out_reg/pin_0","qos":"","retain":"","broker":"fb8d675a.389b08","x":920,"y":180,"wires":[]},{"id":"c4e3a3ca.316c5","type":"inject","z":"a8412bb2.c64bd8","name":"","topic":"","payload":"{\"action\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":120,"wires":[["f6614174.80fd4"]]},{"id":"dcb08e93.f8fc4","type":"inject","z":"a8412bb2.c64bd8","name":"","topic":"","payload":"{\"action\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":80,"wires":[["f6614174.80fd4"]]},{"id":"2a4a6bf9.3d3a14","type":"mqtt in","z":"a8412bb2.c64bd8","name":"","topic":"3325326/RESPONSE","qos":"2","datatype":"auto","broker":"fb8d675a.389b08","x":680,"y":680,"wires":[["d629d788.f6fb28"]]},{"id":"d629d788.f6fb28","type":"json","z":"a8412bb2.c64bd8","name":"","property":"payload","action":"","pretty":false,"x":920,"y":700,"wires":[["50720799.6ebeb8"]]},{"id":"50720799.6ebeb8","type":"debug","z":"a8412bb2.c64bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":700,"wires":[]},{"id":"6b71d22a.3b9e6c","type":"ui_switch","z":"a8412bb2.c64bd8","name":"","label":"Relay 1","tooltip":"","group":"7e988a82.749934","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"action\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"action\":false}","offvalueType":"json","officon":"","offcolor":"","x":640,"y":160,"wires":[["f6614174.80fd4"]]},{"id":"7d6a108e.e06dc","type":"ui_switch","z":"a8412bb2.c64bd8","name":"","label":"Relay 2","tooltip":"","group":"7e988a82.749934","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"action\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"action\":false}","offvalueType":"json","officon":"","offcolor":"","x":640,"y":220,"wires":[["b26be75.86bb318"]]},{"id":"b26be75.86bb318","type":"mqtt out","z":"a8412bb2.c64bd8","name":"","topic":"3325326/shift_out_reg/pin_1","qos":"","retain":"","broker":"fb8d675a.389b08","x":930,"y":240,"wires":[]},{"id":"28877202.8150ee","type":"ui_switch","z":"a8412bb2.c64bd8","name":"","label":"Relay 3","tooltip":"","group":"7e988a82.749934","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"action\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"action\":false}","offvalueType":"json","officon":"","offcolor":"","x":640,"y":280,"wires":[["abd2add4.d021"]]},{"id":"abd2add4.d021","type":"mqtt out","z":"a8412bb2.c64bd8","name":"","topic":"3325326/shift_out_reg/pin_2","qos":"","retain":"","broker":"fb8d675a.389b08","x":930,"y":300,"wires":[]},{"id":"3fee0b7a.373c44","type":"ui_switch","z":"a8412bb2.c64bd8","name":"","label":"Relay 4","tooltip":"","group":"7e988a82.749934","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"action\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"action\":false}","offvalueType":"json","officon":"","offcolor":"","x":640,"y":340,"wires":[["94d06e02.4435"]]},{"id":"94d06e02.4435","type":"mqtt out","z":"a8412bb2.c64bd8","name":"","topic":"3325326/shift_out_reg/pin_3","qos":"","retain":"","broker":"fb8d675a.389b08","x":930,"y":360,"wires":[]},{"id":"b2cb5a34.380a88","type":"ui_switch","z":"a8412bb2.c64bd8","name":"","label":"Relay 7","tooltip":"","group":"7e988a82.749934","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"action\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"action\":false}","offvalueType":"json","officon":"","offcolor":"","x":640,"y":520,"wires":[["48e560de.b3aa3"]]},{"id":"48e560de.b3aa3","type":"mqtt out","z":"a8412bb2.c64bd8","name":"","topic":"3325326/shift_out_reg/pin_6","qos":"","retain":"","broker":"fb8d675a.389b08","x":930,"y":540,"wires":[]},{"id":"ff05777.6e33988","type":"ui_switch","z":"a8412bb2.c64bd8","name":"","label":"Relay 8","tooltip":"","group":"7e988a82.749934","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"action\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"action\":false}","offvalueType":"json","officon":"","offcolor":"","x":640,"y":580,"wires":[["569e974b.32ed18"]]},{"id":"569e974b.32ed18","type":"mqtt out","z":"a8412bb2.c64bd8","name":"","topic":"3325326/shift_out_reg/pin_7","qos":"","retain":"","broker":"fb8d675a.389b08","x":930,"y":600,"wires":[]},{"id":"b699cde0.37a8b","type":"ui_switch","z":"a8412bb2.c64bd8","name":"","label":"Relay 5","tooltip":"","group":"7e988a82.749934","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"action\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"action\":false}","offvalueType":"json","officon":"","offcolor":"","x":640,"y":400,"wires":[["453e194b.2d29c8"]]},{"id":"453e194b.2d29c8","type":"mqtt out","z":"a8412bb2.c64bd8","name":"","topic":"3325326/shift_out_reg/pin_4","qos":"","retain":"","broker":"fb8d675a.389b08","x":930,"y":420,"wires":[]},{"id":"74546910.733448","type":"ui_switch","z":"a8412bb2.c64bd8","name":"","label":"Relay 6","tooltip":"","group":"7e988a82.749934","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"action\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"action\":false}","offvalueType":"json","officon":"","offcolor":"","x":640,"y":460,"wires":[["b53c2908.f74798"]]},{"id":"b53c2908.f74798","type":"mqtt out","z":"a8412bb2.c64bd8","name":"","topic":"3325326/shift_out_reg/pin_5","qos":"","retain":"","broker":"fb8d675a.389b08","x":930,"y":480,"wires":[]},{"id":"4485168a.38ec88","type":"mqtt out","z":"a8412bb2.c64bd8","name":"","topic":"8847454/gpio_relay/pin_12","qos":"","retain":"","broker":"fb8d675a.389b08","x":1480,"y":180,"wires":[]},{"id":"6a211ca7.226204","type":"ui_switch","z":"a8412bb2.c64bd8","name":"","label":"Lamp","tooltip":"","group":"7e988a82.749934","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"action\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"action\":false}","offvalueType":"json","officon":"","offcolor":"","x":1190,"y":160,"wires":[["4485168a.38ec88"]]},{"id":"fb8d675a.389b08","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.117","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7e988a82.749934","type":"ui_group","z":"","name":"Control","tab":"c1f64fd6.aca4f","order":2,"disp":true,"width":"6","collapse":false},{"id":"c1f64fd6.aca4f","type":"ui_tab","z":"","name":"IoT Connect","icon":"dashboard","disabled":false,"hidden":false}]